.categorias {
    padding: 80px 12.5%;
    justify-content: center;
    align-items: center;
    
}

.categorias__titulo{
  font-family: var(--fonte-titulo);
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: var(--cor-texto-principal);
    margin-bottom: 49px;
}

.categorias__texto {
    font-size: 25px;
    font-family: var(--fonte-texto);
    line-height: 30px;
    margin-bottom: 40px;
    text-align: center;
    color: var(--cor-texto-secundario);
} 

.categorias__list {
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "roupas roupas decoracao"
    "canecas acessorios acessorios";
    gap: 24px;
    list-style-type: none;
}

.categorias__list_item-roupas{
    grid-area: roupas;
}

.categorias__list_item-decoracao{
    grid-area: decoracao;
}

.categorias__list_item-canecas{
    grid-area: canecas;
}

.categorias__list_item-acessorios{
    grid-area: acessorios;
}

.categorias__list_item_container img {
    background-color: var(--cor-links);
    width: 50%;
    height: 100%;
    object-fit: contain;

}

.categorias__list_item_container {
    background-color: var(--cor-links);
    text-align: center;
    height: 25vh;
}

.categorias__list_item {
    box-shadow: 0px 4px 24px 0px #7B7B7B26;
     
}

.categorias__list_item_titulo {
    font-size: 31px;
    font-weight: 700;
    line-height: 37.2px;
    font-family: var(--fonte-texto);
    color: var(--cor-texto-principal);
    padding: 16px 0;
    text-align: center;
}